main {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  max-width: 800px;
  margin: auto;
  gap: 50px;
}

h1 {
  font-size: 45px;
  text-align: center;
}

input[type="file"] {
  display: none;
}

.custom {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  margin: auto;
}